/* For use in src/lib/core/theming/_palette.scss */
$mat-regent-green: (
  50 : #eaf5ef,
  100 : #cae5d7,
  200 : #a6d4bc,
  300 : #82c2a1,
  400 : #68b58d,
  500 : #4da879,
  600 : #46a071,
  700 : #3d9766,
  800 : #348d5c,
  900 : #257d49,
  A100 : #beffd7,
  A200 : #8bffb8,
  A400 : #58ff99,
  A700 : #3eff89,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$regent-dark-text: rgb(54, 54, 54);

$mat-regent-blue: (
  50 : #e7ebf1,
  100 : #c2cddc,
  200 : #99acc5,
  300 : #708bad,
  400 : #52729c,
  500 : #33598a,
  600 : #2e5182,
  700 : #274877,
  800 : #203e6d,
  900 : #142e5a,
  A100 : #94b7ff,
  A200 : #6195ff,
  A400 : #2e73ff,
  A700 : #1461ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-regent-tan: (
    50 : #faf6f1,
    100 : #f2eadb,
    200 : #e9dcc3,
    300 : #e0cdab,
    400 : #d9c399,
    500 : #d2b887,
    600 : #cdb17f,
    700 : #c7a874,
    800 : #c1a06a,
    900 : #b69157,
    A100 : #ffffff,
    A200 : #fff6e8,
    A400 : #ffe2b5,
    A700 : #ffd89c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-regent-red: (
    50 : #f5e4e6,
    100 : #e6bcc0,
    200 : #d68f96,
    300 : #c5626c,
    400 : #b8414d,
    500 : #ac1f2d,
    600 : #a51b28,
    700 : #9b1722,
    800 : #92121c,
    900 : #820a11,
    A100 : #ffb2b4,
    A200 : #ff7f83,
    A400 : #ff4c52,
    A700 : #ff3239,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);